.header-container {
    background-color: #2B4F5D;
    display: flex;
    align-items: center;
    color: white;
    width: 100vw;
    height: 3rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header-title {
    margin-left: 1rem;
    font-weight: 400;
}